@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: Sans;
  src: url(../fonts/Iranian\ Sans.ttf);
}
@font-face {
  font-family: Nazanin;
  src: url(../fonts/Far_Nazanin.ttf);
}
@theme {
  --font-sans: Sans;
  --font-nazanin: Nazanin;
}
.text-height-center {
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #8f8f8f;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.slide {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.man{
    direction: ltr;
}